:root{
    --green:#a4c639;
}
 
*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 50.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    overflow-x: hidden;
}

section{ 
    padding:20px 9%;
}



/* العناووين */
.heading{
    text-align: center;
    font-size: 25px;
    color:rgb(0, 0, 0);
    padding:10px;
    margin:20px 0;
   
}

.heading span{
    color:var(--green);
    display: inline;
}

/* البوتون  */

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:var(--green);
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:white;
    color: var(--green);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
} 
/* بوتن التواصل */

.btnta{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#fff;
    color:var(--green);
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btnta:hover{
    background:var(--green);
    color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

/* بوتن التواصل */

.dean{
margin-left: 50%;
text-align: center;
}


/* البوتون  */


 /* هيدر */


header{
    position: fixed;
    top:0; left:0; right:0;
    background:transparent;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header.active{
    position: fixed;
    top:0; left:0; right:0;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all 0.5s;
    
    
}
.headrabsolute a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:100%;
    color:#fff;
   
} 

header .logo{
    font-size: 30px;
    color:var(--green);
    font-weight: bolder;
   
}

header .logo span{
    color:#fff;
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:rgb(255, 255, 255);
    filter: drop-shadow( #000 -1px 0px 1px );
}

 header  .navbar a:hover{
    content: " ";
   color: var(--green);
   border-bottom: 2px solid var(--green);
 }


/* هيدر  الجوال */


header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 30px;
    color:#333;
    border-radius: 5px;
    padding:5px 15px;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}
/* هيدر  النص والخلفيه*/


.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(../images/architect.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    
      max-width: 420px;  
}

.home .content h3{
    font-size: 4rem;
    color:var(--green);
}

.home .content span{
    font-size: 22px;
    color:#000;
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#000;
    padding:1rem 0;
    line-height: 1.5;
}


/* هيدر  */




/* من نحن */


.about .row{
    display: flex;
    align-items: center;
    gap:30px;
    flex-wrap: wrap;
    padding:20px 0;
    padding-bottom: 30px;
}

.video-container{
    flex: 40rem;
    position: relative;
}

 video{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 20%;
    object-fit: cover;
}

.video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width:100%;
    padding:10px 20px;
    text-align: center;
     mix-blend-mode: screen;  
}

 .content{
    flex:1 1 40rem;
}

.content h3{
    font-size: 3rem;
    color:#333;
}

 .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 10px;
    line-height: 1.5;
}
/*    من نحن نهايه*/


/* الكليات */


.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;

}

 .box{
    background-color: #fff;
    flex: 400px;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:1px solid rgba(0,0,0,.1);
    position: relative;    
    
}

.box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
    
}

.image img{
    height:100%;
    width: 100%;
}

.box:hover .image img{
    transform: scale(1.1);
}

 .image .absolute{
    position: absolute;
    bottom:-7rem; 
    width: 100%;
    display: flex;
}

  .box:hover .image .absolute{
    bottom:0;
}

 .absolute a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:100%;
    color:#fff;
    background-color: var(--green);
} 
  

 .box .content{
    padding:2rem;
    text-align: center;
}

.box .content h3{
    font-size: 2.5rem;
    color:#000;
}

 .content .price{
    font-size: 2.5rem;
    color:var(--green);
    font-weight: bolder;
    padding-top: 1rem;
}

  .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}
/* الكليات */



.reviewdean .box-container .box{
    flex:1 1 30rem;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 10%);
    border-radius: .5rem;
    padding:30px 20px ;
    position: relative;
    border:1px  solid rgba(0,0,0,.1);
}

/* dean */

.box-container .box p{
    color:#999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

 .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.box .user img{
    height:6rem;
    width:6rem;
    border-radius:50%;
    object-fit: cover;
    margin-right: 1rem;
}

.box .user h3{
    font-size: 2rem;
    color:#333;
}

.box .user span{
    font-size: 1.5rem;
    color:#999;
}

/* dean */


/* تواصل  */



.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}


.row form{
    flex: 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background:var(--green);
    border-radius: .5rem;
    
}

.row .image{
    flex: 40rem;
}

 .row .image img{
    width: 100%;
    animation: quu 20s infinite linear;
}
@keyframes quu {
    0% {transform: rotatey(0deg);}
    100%{transform: rotatey(360deg);}
}

.row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
    
} 


.contact .row form .box:focus{
    border-color: #000;
    
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}


/* اعلانات  */

.new{ 
    width: 100%;
    height: 100vh;   
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.1);
   background-repeat: no-repeat;
   background-position: center;
  position: relative; 
  border-radius:  129px 0;
  animation: back 10s infinite ;
   }
   .new:hover{
    animation-play-state:paused;
   }
  /* @keyframes back {
    0%{
        background-image: url(../images/3.jpg);
    }
50%{
        background-image: url(../images/1.jpg);
    }
        100%{
            background-image: url(../images/2.jpg);

        }
    } */
  
  
  
  .mySlides {
    width: 100%;
    height: 100%;
   margin: auto; border-radius: 129px 0;
  position: relative;
  }
  
  .display-right {
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 1px 2px 2px white;
    background-image: linear-gradient(to left, white ,#00000000);
    outline-style: none;
    position: absolute;
    width: 50px;
    height: 43px;
    top: 50%;
    right: 0;
}
  
  .display-left {
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 1px 2px 2px white;
    background-image: linear-gradient(to left, white ,#ffffff);
    outline-style: none;
    position: absolute;
    width: 50px;
    height: 43px;
    top: 50%;
    
}


.imgfot{  border-radius: 50px 0;
      width: 100% ; 
       height: 500px; 
       justify-content: center;
       box-shadow: 0 0.5rem 1rem rgba(226, 222, 222, 0.1); 
     }

    


.icon{
text-decoration: none;
margin: 0 10px ;
justify-content: center;
align-items: center;
transition: 0.4s;
display:block;
width: 50px;
height: 50px;
color:var(--green);
font-size: 30px;
}


 /* foter */


 .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .boxfoot{
    flex:1 1 25rem;
}

 .boxfoot h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}

 .boxfoot a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .boxfoot a:hover{
    color:var(--green);
    text-decoration: underline;
}


.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:rgb(0, 0, 0);
    border-top: 1px  solid rgba(0, 0, 0, 0.415);
    padding-bottom: 9rem;
}

.footer .credit span{
    color:var(--green);
}


.icon:hover {
    transform:scale(1.2);
  
  }
  
  #user:hover{
       color: var(--green);
      
      }
  
  #fas:hover{
  
    color: #0e0a3f;
   }
   #ins:hover{
  
    color: #eb363f;
   }
   #goo:hover{
  
    color: yellow;
   }
   #twi:hover{
  
    color: #2318c2;
   }
    .a i {
    font-size: 1.7em;
    transition : all 0.4s;
  }








/* media queries  */
 @media (max-width:1200px){
    
    html{
        font-size: 40%;
    }

    header{
        padding:20px;
       
    }
  header.active{
    padding:20px;
    
}
    section{
        padding:20px;
    }

    .home{
        background-position: center;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block; color: #fff;border: #fff 1px solid;
    }

     header .navbar{
         position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: 1px solid rgb(255, 255, 255); 
         clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);  
    } 

    header #toggler:checked ~ .navbar{
         clip-path:polygon( 0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:15px;
        padding:15px;
        color: #000;
        background:#fff;
        border:1px solid rgba(0,0,0,.1);
        display:block;
    }
    
    .home .content h3{
        font-size: 50px;
    }

    .home .content span{
        font-size: 25px ;
    }

    .absolute-container .absolute h3{
        font-size: 20px;
    }
    
    .absolute-container .absolute span{
        font-size: 17px ;
    }
    
}

@media (max-width:450px){
   
    html{
        font-size: 50%;
    }
    a.logo{ margin-left: 40px;}
    
    .heading{
        font-size: 30px;
    }
   
}
.ooo{
    background-color: #b6b5c8; width: 90%; height: 100%;
}
.svgg{

    width: 100%;
}